extends base.pug

block scripts
  script(src='/static/index.js')

block style
    style
      include ../static/style.css

block content 
       section#introSection
        div Welcome to Harry's Dance Academy
        div.small Eat Sleep Dance Repeat

       section#missionSection
         h2 Our Mission
         div.card
          h3 Dance Perfection
          div.card-box
              div.card-img 
                img(src="/static/bg.jpeg")

                div.card-content 
                  p this is the best acadmy of the unicerse
         div.card
          h3 Dance the way you lite
          div.card-box
              div.card-img 
                img(src="/static/bg2.jpeg")

                div.card-content 
                  p this is the best acadmy of the unicerse
         div.card
          h3 Expert Teaching
          div.card-box
              div.card-img 
                img(src="/static/bgg1.jpeg")

                div.card-content 
                  p this is the best acadmy of the unicerse
        
       section#sponsorsSection
        h2 Our Sponsors
        div#sponsors 
             img(src="/static/img/logo1.jpg", alt="sponsors image", Class="spImage")
             img(src="/static/img/logo2.jpg", alt="sponsors image", Class="spImage")
             img(src="/static/img/logo3.jpg", alt="sponsors image", Class="spImage")
             img(src="/static/img/logo4.jpg", alt="sponsors image", Class="spImage")